#weatherCard_container {
    display: flex;
    flex-wrap: wrap;
}
.city_container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 50px;
}

.top_events{
    display: flex;
    flex-direction: row;
}

#center_box {
    margin: auto;
    width: 30%;
    border-style:double;
    padding: 50px;
}

#favorites_button {
    width: 100px
}